*.o
src/*.o
libgenmc.a
mixer
genmc
trust
verify_test_benchmarks/**/target-ir/
verify_test_benchmarks/**/target/
verify_large_crates/**/target-ir/
verify_large_crate/**/target/
test_results/*
!test_results/.gitignore
test_traces/*
!test_traces/.gitignore
bitcode.txt
test_functions.txt
*.ll
config.h
config.log
config.status
autom4te.cache/
